@model CarBook.EntityLayer.Concrete.CarStatus

@{
    ViewData["Title"] = "UpdateCarStatus";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Araç Durum Güncelleme Sayfası</h1>
<form method="post">
    <input type="hidden" asp-for="CarStatusID" />
    <label>Araç Durum Başlığı</label>
    <input type="text" asp-for="CarStatusName" class="form-control" style="border:1px solid #2222" />
    <br />
    <button class="btn btn-primary">Durumu Ekle</button>
</form>

